* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.8s ease;
}

body {
  background: linear-gradient(to top, #000000, #222222);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(120, 120, 120, 0.3);
  background: linear-gradient(145deg, #f0f0f0, #d9d9d9);
}

.calculator #display {
  color: #333;
  margin: 0 10px 20px;
  height: 120px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  font-weight: 800;
}

.calculator #equal {
  height: 130px;
}

.calculator #clear {
  background-color: #ffe0e0;
  color: #d62828;
}

.calculator .btn-number {
  background-color: #e8e8e8;
  color: #000;
}

.calculator .btn-operator {
  background-color: #f7d8ff;
  color: #a12fa1;
}

.calculator .btn-equal {
  background-color: #ffd580;
  color: #000;
}

.calculator button {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  background: #f0f0f0;
  transition: background 0.6s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.calculator button:hover {
  background: linear-gradient(135deg, #ff8c00 70%, #000000 30%);
  transform: scale(1.08);
  box-shadow: 0 0 15px rgba(255, 140, 0, 0.4);
}

.calculator button:active {
  background: #ff8c00;
  transform: scale(0.95);
  box-shadow: 0 0 20px rgba(255, 140, 0, 0.6);
}

/* Tema oscuro */
.calculator.dark {
  background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
}

.calculator.dark #display {
  color: #f8fafb;
}

.calculator.dark #clear {
  background-color: #4C35AA;
  color: white;
}

.calculator.dark .btn-number {
  background-color: #3b3b3b;
  color: #fff;
}

.calculator.dark .btn-operator {
  background-color: #444;
  color: #ffcb05;
}

.calculator.dark .btn-equal {
  background-color: #ff8c00;
  color: white;
}

.calculator.dark button {
  transition: background 0.6s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.calculator.dark button:hover {
  background: linear-gradient(135deg, #ff8c00 70%, #000000 30%);
  box-shadow: 0 0 15px rgba(255, 140, 0, 0.4);
}

.calculator.dark button:active {
  background: #ff8c00;
  box-shadow: 0 0 20px rgba(255, 140, 0, 0.6);
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}
