* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.8s ease;
}

body {
  background: linear-gradient(to top, #000000, #222222);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(120, 120, 120, 0.3);
  background: linear-gradient(145deg, #f0f0f0, #d9d9d9);

  #display {
    color: #333;
    margin: 0 10px 20px;
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: 800;
  }

  #equal {
    height: 130px;
  }

  #clear {
    background-color: #ffe0e0;
    color: #d62828;
  }

  .btn-number {
    background-color: #e8e8e8;
    color: #000;
  }

  .btn-operator {
    background-color: #f7d8ff;
    color: #a12fa1;
  }

  .btn-equal {
    background-color: #ffd580;
    color: #000;
  }

  button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    background: #f0f0f0;
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(135deg, #ff8c00 70%, #000000 30%);
      transform: scale(1.08);
    }

    &:active {
      background: #ff8c00;
      transform: scale(0.95);
    }
  }

  /* Tema oscuro */
  &.dark {
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);

    #display {
      color: #f8fafb;
    }

    #clear {
      background-color: #4C35AA;
      color: white;
    }

    .btn-number {
      background-color: #3b3b3b;
      color: #fff;
    }

    .btn-operator {
      background-color: #444;
      color: #ffcb05;
    }

    .btn-equal {
      background-color: #ff8c00;
      color: white;
    }

    button {
      &:hover {
        background: linear-gradient(135deg, #ff8c00 70%, #000000 30%);
      }
      &:active {
        background: #ff8c00;
      }
    }
  }
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
  }
}

.theme-toggler.active {
  color: #333;

  &::before {
    background-color: #fff;
  }
}
